{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
<style>
    .lnk:hover{
        background-color: #e12454 !important;
        color: aliceblue;
        font-weight: 500px;
    }
</style>
    <section class="about-area pt-120 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-4 col-md-6">
                    <div class="service-box-3 mb-30 text-center">
                        <div class="service-content-box">
                            <div class="service-content">
                                <h3>{{ service.name }}</h3>
                                <p style="text-transform: capitalize;">
                                    {{ service.description }}
                                </p>
                            </div>
                            <div class="row">
                                {% for item in service.service_cate.all %}
                                <div class="col-lg-4 mt-3">
                                    <ul class="list-group">
                                        <a href="{% url 'service_app:service_category_deteaile' item.slug %}" class="list-group-item list-group-item-action lnk">{{item.name}}</a>
                                      </ul>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="section-button text-right d-none d-lg-block pt-80">
                                <a data-animation="fadeInLeft" data-delay=".6s" href="{% url 'appointment:appointment_main' %}"
                                    class="btn btn-icon ml-0"><span>+</span>назначить встречу</a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <!-- Services main end -->
        </div>
    </section>
{% endblock content %}


 